@media screen and (min-width: 0) {

    .product-add__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: #202020;
        width: 100%;
    }

    .product-add__title {
        font-size: 25px;
        font-weight: 500;
        color: var(--green-highlight);
        margin-top: 15px;
    }

    .product-add__content {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 1rem;
        gap: .25rem;
        
    }

    label {
        color: var(--green-highlight);
    }

    .product-add__input {
        border: none;
        height: 5vw;
        box-shadow: 0 3px 1px 0 var(--green-highlight);
    }

    .product-add__input::placeholder {
        font-size: 16px;
        color: var(--green-highlight);
    }

    .product-add__btn {
        width: 95vw;
        height: 10vw;
        background-color: black;
        color: var(--green-highlight);
        border-color: var(--green-highlight);
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .product-add__btn {
        width: 90vw;
    }
}

@media screen and (min-width: 992px) {
    .product-add__input {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .product-add__content {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: .25rem;
        gap: 1rem;
    }

    .product-add__input {
        border: none;
        height: 2vw;
    }

    .product-add__btn {
        width: 40%;
        font-size: 20px;
        height: 20%;
    }
}
